.filter {
    border-style:solid;
    border-width: 3px;
    border-color: rgb(207, 221, 11);
    width: 290px;
    margin-top: 2%;
    margin-bottom: 5%;
    margin-left: 20%;
    float: left;
}

select {
    margin: 10px;
    margin-left: 35px;
    float: left;
}